PORT=5000

DB_HOST=localhost
DB_PORT=5432
DB_NAME=veda_structure
DB_USER=postgres
DB_PASSWORD=

NODE_ENV=development
# Storage / Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
